In [1]:
#Estimating salary on the basis of experience in years....

In [2]:
import pandas as pd

In [3]:
from sklearn.linear_model import LinearRegression

In [4]:
dataset = pd.read_csv('SalaryData.csv')

In [6]:
dataset.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [12]:
X = dataset[['YearsExperience']]

In [13]:
X.shape

(30, 1)

In [14]:
y = dataset['Salary']

In [15]:
model = LinearRegression()

In [16]:
model.fit(X,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [19]:
sal_expected = model.predict([[3]])

In [20]:
print("Slary Expected : ",sal_expected[0])

Slary Expected :  54142.08716303393