In [2]:
#pandas is a library helpul in reading and handling of data inside dataframes...
import pandas as pd 

#Using Linear Regression Approach to train model, sklearn is its library
from sklearn.linear_model import LinearRegression

In [3]:
#creating data from csv file..
dataset = pd.read_csv('USA_Housing.csv')

In [4]:
#displaying top two rows as large amount of data is present inside the dataframe...
dataset.head(2)

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address
0,79545.458574,5.682861,7.009188,4.09,23086.800503,1.059034e+06,"208 Michael Ferry Apt. 674\nLaurabury, NE 3701..."
1,79248.642455,6.002900,6.730821,3.09,40173.072174,1.505891e+06,"188 Johnson Views Suite 079\nLake Kathleen, CA..."

In [5]:
dataset.columns

Index(['Avg. Area Income', 'Avg. Area House Age', 'Avg. Area Number of Rooms',
       'Avg. Area Number of Bedrooms', 'Area Population', 'Price', 'Address'],
      dtype='object')

In [ ]:
#Preparing predictor using four of the features to predict PRICE.. 
X = dataset[['']]