In [2]:
import pandas as pd
from sklearn.linear_model import LogisticRegression

In [4]:
dataset = pd.read_csv('train.csv')

In [6]:
dataset.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [7]:
age = dataset['Age']

In [8]:
age

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64

In [9]:
#since age consists of NaN or null values, we have to remove it

#remove null or nan from age.
def lw(cols):
    age = cols[0]
    Pclass = cols[1]
    if pd.isnull(age):
        if Pclass == 1:
            return 38
        elif Pclass == 2:
            return 30
        elif Pclass == 3:
            return 25
        else:
            return 30
    else:
        return age

In [10]:
dataset['Age']=dataset[['Age','Pclass']].apply(lw,axis=1)

In [11]:
age = dataset['Age']

In [12]:
 x = dataset[['Age','Sex','Pclass','Parch','SibSp','Embarked']]

In [13]:
x

      Age     Sex  Pclass  Parch  SibSp Embarked
0    22.0    male       3      0      1        S
1    38.0  female       1      0      1        C
2    26.0  female       3      0      0        S
3    35.0  female       1      0      1        S
4    35.0    male       3      0      0        S
..    ...     ...     ...    ...    ...      ...
886  27.0    male       2      0      0        S
887  19.0  female       1      0      0        S
888  25.0  female       3      2      1        S
889  26.0    male       1      0      0        C
890  32.0    male       3      0      0        Q

[891 rows x 6 columns]

In [ ]:
# since we can see that sex, pclass, parch, sibsp, embarked. all these are categorical values. 
# applying dummy variable functionality and removing multi-colinearity .

sex = dataset['Sex']
sex = pd.get_dummies(sex, drop_first=True)


#even pclass is a numerical categorical variable 
pclass = dataset['Pclass']  
pclass = pd.get_dummies(pclass,drop_first = True) 

#sibblings
sibsp = dataset['SibSp']
sibsp = pd.get_dummies(sibsp, drop_first=True)

#parent child
parch = dataset['Parch']
parch = pd.get_dummies(parch, drop_first=True)

embarked = dataset['Embarked']
embarked = pd.get_dummies(embarked,drop_first = True)